.todo__item {
  position: absolute;
  min-width: 215px;
  color: black;
  padding: 1em;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: move;
}

.complete {
  text-decoration: line-through;
  position: absolute;
  cursor: move;
  min-width: 215px;
  color: black;
  padding: 1em;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
